<div id="section-contact" class="wrap color3">
  <div class="container">
    <section>
      <div>
        <h1 class="headline-tt-2 white">contato <small class="green-dark">FALE CONOSCO</small></h1>
      </div>
      <div class="row">
        <figure class="col-xs-12 col-sm-4 col-md-3 shield mac">
          <img class="img-responsive" src="/images/mac.png" alt="Entre em Contato">
        </figure>
        <form id="form5" name="form5" class="col-xs-12 col-sm-7 col-sm-offset-1 col-md-offset-2" role="form" autocomplete="off" enctype="multipart/form-data" method="post" novalidate action="https://initsec.wufoo.com/forms/s1siw3pw1dnqvg4/#public">
          <div class="section-gp">
            <input id="Field1" name="Field1" spellcheck="false" type="text" class="form-control" placeholder="Nome" required>
          </div>
          <div class="section-gp">
            <input id="Field2" name="Field2" spellcheck="false" type="email" class="form-control" placeholder="Email" required>
          </div>
          <div class="section-gp">
            <textarea id="Field3" name="Field3" spellcheck="false" class="form-control" placeholder="Mensagem"></textarea>
          </div>
          <div class="section-gp">
            <input type="hidden" id="idstamp" name="idstamp" value="RqypylZxGuCyuN5WPt5KtHfrfcWJo4fKezmG/Ekjna0=">
            <button id="saveForm" name="saveForm" type="submit" class="btn btn-default">Enviar</button>
          </div>
        </form>
      </div>
    </section>
  </div>
</div>
