<!doctype html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content=" {{ page.title }} ">
    <meta name="keywords" content=" {{ page.keywords }} ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/core.css">
    <script type="text/javascript" src="/js/modernizr.js"></script>
  </head>
  <body>
