<!doctype html>
<html lang="pt-br" class="no-js">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="description" content=" {{ page.title }} ">
    <meta name="keywords" content=" {{ page.keywords }} ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.png">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/core.css">
    <script type="text/javascript" src="js/modernizr.js"></script>
  </head>
  <body>

    {{ content }}

    <footer>
      <div class="wrap color4">
        <div class="container">
          <div class="row">
            <p class="col-xs-12">© initsec - todos os direitos reservados</p>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/scrollTo.js"></script>
    <script src="js/jquery.nav.js"></script>
    <script src="js/app.js"></script>
    <!--[if lt IE 9]><script src="js/selectors.js"></script><![endif]-->
    <script src="js/brw.js"></script>
    {% include google_analytics.html %}
  </body>
</html>
